* {
    box-sizing: border-box;
  }

html{
    background-color: #fbe5e5;
    height: 100%;
    width: 100%;
    object-fit: contain;
    font-family: 'Roboto', sans-serif;
}

head {
    padding: 0px;
}

body{
    display: block;
    height: 100%;
    margin: 0;
}

.safi-draws {
    width: 100%;
    align-items: center;
}
#nav-bar {
    
    display: flex;
    background-color: #291d2d;
    width: 100%;
    height: 100px;
    padding: 0px 0px;
    align-items: center;
}

#content {
    background-color: #ec2323;
    height: 40%;
 
}

footer{
    margin-bottom: 0;
    width: 100%;
    border-top: 100%;    
    background-color: #291d2d;
    padding: 150px 0 0 0;
}

#updates{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

#updates div {
    width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

#gallery{
    height: 60%;
}

li{
    color:#fbe5e5;
    width: fit-content;
}

h3{
    color: #fbe5e5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
}

ul{
    padding-bottom: 10px;
}

.input-checkbox {
    display: none;
}

.block1, .block2, .block3, .block4 {
    z-index: 1;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
   
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 164px;
    background-color: #ea8532;
    margin: 50px;
    border: 10px;
    /*border-radius: 50%;*/
    cursor: pointer;
    text-align: center;
}

#block1 {
  background-image: url(https://cdn.discordapp.com/attachments/843255555052929076/1018763972012425226/unknown.png);
  
}
.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: #ffffff;
    background-color: #291d2d;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.nav-button span::before,
.nav-button span::after,
.nav-button span {
    background-color: #ffffff;
    width: 32px;
    height: 3px;
    border-radius: 2x;
    transition: 0.3s;
}

.nav-button span::before,
.nav-button span::after {
    content: "";
    position: relative;
    display: inline-block;
}

.nav-button span::before {
    top: -20px;
}

.nav-button span::after {
    top: -23px;
    
}

.input-checkbox:checked + .nav-button span {
    background-color: transparent;
}

.input-checkbox:checked + .nav-button span::before {
    top: -13px;
    transform: rotate(135deg);
}

.input-checkbox:checked + .nav-button span::after {
    top: -32px;
    transform: rotate(-135deg);
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #fff;
}

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1% 10% 1% 10%;
  display: block;

}

._12 {
  font-size: 1.2em;
}

._14 {
  font-size: 1.4em;
}

ul {
  padding: 0;
  list-style: none;
}

.footer-social-icons {
  
  display: flex;
  margin: 0 auto;
}

.social-icon {
    display: inline-flex;
  color: #fff;
  padding: 0px;
}

ul.social-icons {
  margin: 10px;
  
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitch {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}

.fa-twitch:hover {
  background-color: #bf94ff;
}

.fa-youtube {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-discord {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}

.fa-discord:hover {
  background-color: #5865f2;
}

.fa-instagram {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}

.fa-instagram:hover {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

